head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  base(href='/')
  title
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width')
  //Place favicon.ico and apple-touch-icon.png in the root directory 
  //build:css(app) styles/vendor.css 
  //bower:css 
  link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
  //endbower 
  //endbuild 
  //build:css({.tmp,app}) styles/main.css 
  link(rel='stylesheet', href='styles/main.css')
  //endbuild
  //bower:js
  script(src='bower_components/jquery/dist/jquery.js')
  script(src='bower_components/ua-parser-js/src/ua-parser.js')
  //endbower